<!DOCTYPE html>
<html>
<head>
    <title>Web Uygulaması </title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css">
</head>
<body>

<script src="jquery/jquery-3.2.1.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="/socket.io/socket.io.js"></script>
</body>

<script>
        var socket = io.connect('/');
</script>
</html>
